
P{
color:white;
  Font-family: Ariel;
}
<h1>Favorite Food</h1>
<ul>
<li>Pupusas</li>
<li>Pasta</li>
</ul>
body {
  font-family: "Open Sans", sans-serif;
   background-color: white;
}
header {
  display: flex;
  align-items: center;
}
footer {
  position: relative;
  height: 30rem;
}
h1 {
  font-size: 42px;
}
